
body{
    background-image: url(./nuage-forme-coeur-dans-ciel-bleu-genere-par-ia_804788-13411.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
 
}

h1{
    text-align: center;
    font-family: Max;
    font-size: 50pt;
}


@font-face {
    font-family: 'Max';
    src: url('./The Diplomat Signature Regular.otf') format('truetype');
}



.texte {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.Julie {
    display: inline;
    position: absolute;
    transform: translateY(-100px);
    border-radius: 50px;
    overflow: hidden;
    margin-left: 70%;
    animation-name: J;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.Max {
    display: inline;
    position: absolute;
    transform: translateY(-100px);
    border-radius: 50px;
    overflow: hidden;
    animation-name: M;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes J {
    0% {
        transform: translateY(-100px);
        margin-left: 70%;
    }
    25% {
        transform: translateY(-700px);
        margin-left: 70%;
        
    }
    50% {
        margin-left: 0%;
        transform: translateY(-700px)
    }
    100% {
        margin-left: 0%;
        transform: translateY(-470px)
    }
}

@keyframes M {
    0% {
        transform: translateY(-100px);
        margin-left: 0%;
    }
    25% {
        transform: translateY(-700px);
        margin-left: 0%;
    }
    50% {
        transform: translateY(-700px);
        margin-left: 70%;
    }
    100% {
        transform: translateY(-470px);
        margin-left: 70%;
    }
}